@media screen and (max-width: 640px) {

	header {height: 50px;}

	.logo768 {
		margin-top: 13px; margin-left: -10px;
		span {display: none;}
		img {transform: scale(0.7);}
	}

	.tel, .login, #menu, .logo {display: none;}
	.btn_mobile_menu {transform: scale(0.84); top: -5px; right: -5px;}
	.mobile_menu {top:50px;} 

	#slider {
		min-height: 180px;
		p {line-height: 35px;}
		.slider_text {padding-left: 20px;font-size: 25px;}
	}

	.button_details {padding: 9px 10px; font-size: 16px; border: none;}

	#buttons {
		height: auto !important;
		ul {display: block;}
		/*a {
			color: #fff;
			@include text-shadow(0px 1px 1px #4e4e4e);
		}*/
		ul li:hover > ul {
			display: none;
		}

		ul {
		.second_b1 {
		padding: 10px;
		li{font-size: 14px;}
		}

		.second_b2 {
		padding: 10px;
		li{font-size: 14px;}
		}
		.second_b3 {
		padding: 10px;
		li{font-size: 14px;}
		}

		.second_b4 {
		padding: 10px;
		li{font-size: 14px;}
		}

		.second_b5 {
		padding: 10px;
		li{font-size: 14px;}
		}


		li {
			.icon {display: block; transform: scale(0.7);left:20px !important; top:4px !important;}
			width: 100% !important;
			height: 45px !important;
			display: block !important;
			padding-left: 70px !important;
			font-size: 21px;
			border: none !important;
			padding-top: 10px !important;
			background:none;
			a {text-shadow: none !important;}
		}
	}
	}

	.adv1 {transform: scale(.75);}
	.adv2 {transform: scale(.75);}
	.adv3 {transform: scale(.75);}
	.adv4 {transform: scale(.75);}

	.content {padding: 0 129px;}
	#content {padding: 0 17px; overflow: hidden !important;}


	#content {
	h2, h3 {
		font-size: 24px;
		margin: 10px 0;
		padding-left: 0;
	}
	p.about {padding-left: 0;}
	p.descr {
		padding-top: 10px;
	}
	.block {
		font-size: 12px;
		display: inline-block;
		p {display: block;	margin-bottom: 3px;}
		img {margin: 2px 2px 10px 2px;}
		span {
			padding-top: 7px;
			font-size: 18px;
			&.crossed {display: none;}
		}
	}
}


	h1 {margin-top: 20px;}
	/*.carusel .cWrapper .lenta .row{margin-right: 5%;}*/
	#ft_menu {display: none;}
	#blog { 
		height: 440px !important;
		padding: 20px 10px 10px 10px !important;
		margin:10px !important;
		.blogrow {width: 90% !important; height: auto !important;}
		h4, span {margin:0 !important;}
		.subscribe {margin-left: 0 !important;}
	}

	#company {margin-left: 0;}
	#company .back {position: absolute; bottom: 280px; right: 50px !important;}
	#clients {margin: 20px !important;}
	#clients h3 {padding-left: 0 !important;}

	footer {margin:0 !important;}
	#ft_ft {
		height: auto !important;
		padding:0 !important;
		.ftrow_logo, .ftrow_soc, .ftrow_tel{margin:0 !important; width: 100% !important; margin-bottom: 20px !important;}
		.ftrow_logo img {margin-top: 0 !important;}
		.ft_cell {padding-left: 0!important; text-align: center;}
		.ftrow_tel p.worktime {position: relative; top:-60px;}
		.ftrow_soc {position: relative; top: 60px;}
		.ftrow_tel {position: relative; top:-20px;}
	}
	.ft_bg {height: 200px !important;}


	.vidok {margin-right: 1px !important; margin-top: 50px;display: inline !important; position: relative; top:-10px;}

	#catalog {
		li {
			display: none !important;
			&:nth-child(-n+3) {display: inline-block !important;}
			&.h0 {display: inline-block !important;}
		}
	}

	#album {
		ul {
			li {
				margin-right: 5% !important;
				&:nth-child(3) {margin-right: 0 !important;}
			}
		}
	}

	.in_cel {width: 45% !important;	margin-right: 20px !important;}
	#basket th.price {}
	#profbg .profile {margin-left: 0;}

	#gallery li {margin-right: 5% !important;}

	#hr form input {width: 38%;}
	#client ul.employes li {margin: 0 1px 20px 0 !important; &:nth-child(4n){margin-right:1px !important;}}
	#client ul.employes li span {margin-left: 85px;}
	#client ul.cl li {width: 130px;}
	#client .popup {
		left:37% !important; 
		top:30% !important;
	}

	#leftside {
		float: none;
		position: inherit;
		width: inherit;
		margin: 10px 0;
		li {
			line-height: 21px;
			display: inline-block;
			width: 220px;
			height: 28px;
			text-align: center;
			padding-top: 7px;
				&.active {
					background-color: #b8b0b0; color:#fff;
					a {color:#fff}
				}
				a {text-decoration: none;}
			}
	}

	.contact_form {position: relative !important; width: auto !important; margin-top: 10px; height: 300px !important;}
	.contact_form input {width: 49% !important; margin-right: 4px !important;}
	.contact_form textarea {width: 99% !important;}
	.map {width: 100% !important; float: none !important;margin-left:0 !important; margin-right: 40px; overflow: hidden;}
	.contact_form span {float: right; position: relative; right: -190px;}
	#contacts .address {padding-left: 15px !important; position: relative; bottom: 100px; height:260px; width: 350px;}
	#contacts button {width:200px !important; height:35px !important; font-size:16px !important;position: relative;margin-top: 30px; right: 10px;}
}