@media screen and (max-width: 400px) {
		h1 {font-size: 25px; margin: 10px 0;}
	#slider {
		img {display: none;}
		img.i{display: block !important;}
		width: auto !important;
	}
	#content img.about {float: none; margin-left:-8px; margin-top: 0; transform: scale(1.1); margin-bottom: 10px; padding-top: 20px !important; padding-right: 20px !important;}
	#blog {height: 362px !important;}
	#clients h3 {font-size: 24px !important; margin-bottom: 10px !important; font-family: 'pf_square_sans_promedium';}
	#clients {margin: 20px 20px 0 20px !important;}
	#leftside  {li {width: 148px !important;}


		margin:0 0 10px -17px !important;}
	}