@media screen and (max-width: 400px) {
		h1 {font-size: 25px; margin: 10px 0;}
	#slider {
		img {display: none;}
		img.i{display: block !important;}
		width: auto !important;
	}
	#content img.about {float: none; width: 100%; margin-top: 0; margin-bottom: 10px; padding-top: 20px !important; transform: scale(1.12);margin-left: 1px;}
	#content img.imgabout {float: none; width: 100%; margin-top: 0; margin-bottom: 30px; padding-top: 20px !important; transform: scale(1.12);margin-left: 1px;}
	#blog {height: auto !important;}
	#clients h3 {font-size: 24px !important; margin-bottom: 10px !important; font-family: 'pf_square_sans_promedium';}
	#clients {margin: 20px 20px 0 20px !important;}
	#leftside {margin: 0 !important;}
	#leftside ul {margin-left:-10px !important;}
	#leftside li {width: 148px !important; margin:0 !important;}
	#goods {padding: 0px 10px 10px 10px;}
	#goods h1 {font-size: 24px !important;}
	#goods h2 {font-size: 16px !important;}
	#basket h2 {font-size: 24px !important;}
	#basket {padding: 0 10px 10px 10px !important;}
	#basket .colorpicker {width: 80px !important;}
	.carusel_clients {margin: 0 10px !important;}
	#news {padding: 0 10px !important;}
	#blog_list {margin: 0 10px !important;}
	#advant	h1 {display: none !important;} 
	#wrap #advant {padding: 0 10px !important;}
	#catalog {padding: 0 10px !important;}
	#blog_list {padding: 0 !important;}
	#hr form {padding: 0 !important;}
	#hr form input {width: 96%;}
	#client ul.cl li {margin-right: 20px;}

	#client ul.employes li {width: 95% !important; margin: 0 1px 12px 0 !important;}
	#contacts .address {top:440px !important;}
	#faq {margin: 0 !important;}
	#client.replay {margin: 0 !important;}
	article {
		h1 {font-size: 24px;}
		h2 {font-size: 22px;}

	}


}