/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  height: 100%;
}

a {
  color: #397db0;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body {
  background-color: #f5f5f5;
  font-family: Tahoma;
  font-size: 16px;
  margin: 0px;
  font-family: "pf_square_sans_prolight";
  min-height: 100%;
  position: relative;
}

h1 {
  font-size: 34px;
  font-family: "pf_square_sans_promedium";
  margin-bottom: 20px;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
  font-family: "pf_square_sans_promedium";
}

footer {
  height: 230px;
  max-width: 1022px;
  position: absolute;
  bottom: 0;
}

@font-face {
  font-family: 'pf_square_sans_proregular';
  src: url("pfsquaresanspro-regular.eot");
  src: url("pfsquaresanspro-regular.eot?#iefix") format("embedded-opentype"), url("pfsquaresanspro-regular.woff") format("woff"), url("pfsquaresanspro-regular.ttf") format("truetype"), url("pfsquaresanspro-regular.svg#pf_square_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pf_square_sans_prolight';
  src: url("pfsquaresanspro-light.eot");
  src: url("fsquaresanspro-light.eot?#iefix") format("embedded-opentype"), url("pfsquaresanspro-light.woff") format("woff"), url("pfsquaresanspro-light.ttf") format("truetype"), url("pfsquaresanspro-light.svg#pf_square_sans_prolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pf_square_sans_promedium';
  src: url("pfsquaresanspro-medium.eot");
  src: url("pfsquaresanspro-medium.eot?#iefix") format("embedded-opentype"), url("pfsquaresanspro-medium.woff") format("woff"), url("pfsquaresanspro-medium.ttf") format("truetype"), url("pfsquaresanspro-medium.svg#pf_square_sans_promedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuecyrlight';
  src: url("helveticaneuecyr-light.eot");
  src: url("helveticaneuecyr-light.eot?#iefix") format("embedded-opentype"), url("helveticaneuecyr-light.woff") format("woff"), url("helveticaneuecyr-light.ttf") format("truetype"), url("helveticaneuecyr-light.svg#helveticaneuecyrlight") format("svg");
  font-weight: normal;
  font-style: normal;
}
.btn_mobile_menu {
  display: none;
  width: 60px;
  height: 60px;
  position: absolute;
  background: url("../images/icon_m_menu.png");
  z-index: 1;
  right: 0;
  top: 0;
}

#mobile_menu {
  display: none;
  position: absolute;
  z-index: 1;
  top: 60px;
  right: 0;
}
#mobile_menu ul {
  background: #938a80;
  height: 674px;
  width: 220px;
}
#mobile_menu ul li {
  background-color: #ffffff;
}
#mobile_menu ul li.phone {
  background: #938a80;
  color: #ffffff;
  margin: 40px 0 10px 60px;
}
#mobile_menu ul li.phone:after {
  display: block;
  content: '';
  width: 30px;
  height: 28px;
  position: relative;
  top: -24px;
  left: -45px;
  background: url("../images/sprites.png") no-repeat 2px -690px;
}
#mobile_menu ul li.addr {
  background: #938a80;
  color: #ffffff;
  margin-left: 60px;
}
#mobile_menu ul li.addr:after {
  display: block;
  content: '';
  width: 30px;
  height: 28px;
  position: relative;
  top: -30px;
  left: -45px;
  background: url("../images/sprites.png") no-repeat 2px -725px;
}
#mobile_menu ul li.mail {
  background: #938a80;
  color: #ffffff;
  margin-top: 10px;
  margin-left: 60px;
}
#mobile_menu ul li.mail:after {
  display: block;
  content: '';
  width: 30px;
  height: 28px;
  position: relative;
  top: -24px;
  left: -48px;
  background: url("../images/sprites.png") no-repeat -27px -659px;
}
#mobile_menu ul li a {
  display: block;
  height: 40px;
  border-bottom: 1px solid #e3e3e3;
  padding-left: 60px;
  color: #475055;
  width: 160px;
  padding-top: 25px;
  font-family: "pf_square_sans_promedium";
  text-decoration: none;
}
#mobile_menu ul li a:hover {
  background-color: #397db0;
  color: #ffffff;
}
#mobile_menu ul li a:after {
  display: block;
  content: '';
  width: 30px;
  height: 28px;
  position: relative;
  top: -24px;
  left: -45px;
  background: url("../images/sprites.png") no-repeat;
}
#mobile_menu ul li a.m_main:after {
  background-position: 2px -495px;
}
#mobile_menu ul li a.m_main:hover:after {
  background-position: -27px -495px;
}
#mobile_menu ul li a.m_about:after {
  background-position: 2px -522px;
}
#mobile_menu ul li a.m_about:hover:after {
  background-position: -27px -522px;
}
#mobile_menu ul li a.m_catalog:after {
  background-position: 2px -552px;
}
#mobile_menu ul li a.m_catalog:hover:after {
  background-position: -27px -552px;
}
#mobile_menu ul li a.m_news:after {
  background-position: 2px -577px;
}
#mobile_menu ul li a.m_news:hover:after {
  background-position: -27px -577px;
}
#mobile_menu ul li a.m_proizv:after {
  background-position: 2px -600px;
}
#mobile_menu ul li a.m_proizv:hover:after {
  background-position: -27px -600px;
}
#mobile_menu ul li a.m_faq:after {
  background-position: 2px -630px;
}
#mobile_menu ul li a.m_faq:hover:after {
  background-position: -27px -630px;
}
#mobile_menu ul li a.m_contact:after {
  background-position: 2px -659px;
}
#mobile_menu ul li a.m_contact:hover:after {
  background-position: -27px -659px;
}

#layer {
  max-width: 1022px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

header {
  display: block;
  overflow: hidden;
  height: 90px;
  font-size: 14px;
}
header a.logo {
  text-decoration: none !important;
}

#wrap {
  padding-bottom: 100px;
}

.pages {
  text-align: center;
  padding: 20px;
}
.pages a {
  width: 29px;
  height: 29px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
  padding: 5px 10px;
  font-size: 16px;
  font-family: "pf_square_sans_promedium";
}
.pages a.active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}
.pages a.arrow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #d0d0d0;
  color: #fff;
}

.logo {
  margin-left: 42px;
  margin-top: 27px;
  float: left;
}
.logo span {
  font-family: "pf_square_sans_prolight";
  display: block;
  color: #5f5f5f;
  font-size: 13px;
  letter-spacing: 5px;
  text-decoration: none;
  margin-bottom: 5px;
}

.logo768 {
  display: none;
  margin-left: 44px;
  height: 44px;
  margin-top: 10px;
  float: left;
}
.logo768 span {
  font-family: "pf_square_sans_prolight";
  display: block;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 4px;
  text-decoration: none;
  margin-bottom: 5px;
}

.tel {
  width: 400px;
  font-family: "pf_square_sans_promedium";
  font-size: 28px;
  margin-top: 25px;
  margin-left: 50px;
  float: left;
}
.tel span {
  font-family: "pf_square_sans_prolight";
  font-size: 14px;
  color: #5f5f5f;
  display: block;
  padding-left: 35px;
  margin-top: 5px;
}

.button {
  text-decoration: none;
  padding: 12px 15px;
  font-size: 14px;
  font-family: "pf_square_sans_prolight";
  background-color: #397db0;
  color: #ffffff;
  display: block;
  float: right;
  margin-top: -42px;
  margin-right: 45px;
  border-bottom: 3px solid #27567a;
}
.button:hover {
  background-color: #2b638d;
  text-decoration: none;
}

.button_details {
  text-decoration: none;
  padding: 12px 25px;
  font-size: 19px;
  font-family: "pf_square_sans_prolight";
  background-color: #397db0;
  color: #ffffff;
  display: block;
  float: left;
  border-bottom: 3px solid #27567a;
  margin-top: 20px;
}
.button_details:hover {
  background-color: #2b638d;
  text-decoration: none;
}

.login {
  display: block;
  float: left;
  width: 250px;
  margin-top: 24px;
  margin-left: 10px;
  padding-left: 20px;
  background: url("../images/pointer.png") no-repeat 7px 2px;
}

.entry {
  float: left;
  margin-top: 20px;
}

.basket {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

.state {
  border-bottom: 1px dashed #397db0;
  text-decoration: none;
}
.state a {
  text-decoration: none;
}
.state:hover {
  border-bottom: none;
}

#menu {
  height: 55px;
  background: url("../images/bgmenu.png");
}
#menu a {
  color: #fff;
  text-decoration: none;
}
#menu ul {
  display: table;
  margin: 0 auto;
}
#menu ul li {
  line-height: 54px;
  display: table-cell;
}
#menu ul li:last-child {
  margin-right: 0px;
}
#menu ul li a {
  padding: 18px 24px;
}
#menu ul li a:hover {
  background: url("../images/bgmenu_active.png");
}

#slider {
  position: relative;
  overflow: hidden;
  font-size: 0;
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 1, 0.2);
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 1, 0.2);
  box-shadow: 0 3px 0 rgba(0, 0, 1, 0.2);
  z-index: 1;
}
#slider p {
  line-height: 45px;
}
#slider img {
  margin-left: -50%;
  left: 50%;
  position: relative;
  width: 100%;
  height: auto;
}
#slider .slider_text {
  font-size: 34px;
  padding-left: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  display: table;
}

.ust {
  font-family: "pf_square_sans_promedium";
}

.hour {
  background-color: #000;
  color: #fff;
  padding: 5px 7px;
}

.line {
  height: 3px;
  width: inherit;
  background-color: #000000;
  position: absolute;
  opacity: 0.2;
  z-index: 1;
}

#novinki {
  position: relative;
}

#spec {
  position: relative;
}

#lider {
  position: relative;
}

#buttons {
  height: 53px;
}
#buttons a {
  color: #fff;
  text-shadow: 0px 1px 1px #4e4e4e;
}
#buttons ul {
  display: table;
  margin: 0 auto;
}
#buttons ul .tip {
  position: absolute;
  width: 322px;
  height: 60px;
  background-color: #fff;
  padding: 20px;
  margin-left: 180px;
  margin-top: -60px;
  -moz-box-shadow: 0px 0px 5px #949494;
  -webkit-box-shadow: 0px 0px 5px #949494;
  box-shadow: 0px 0px 5px #949494;
  font-size: 14px;
  line-height: 16px;
}
#buttons ul .tip:before {
  width: 16px;
  height: 16px;
  left: -8px;
  top: 42px;
  /* display: block; */
  content: '';
  background-color: white;
  position: absolute;
  /* z-index: -1; */
  -moz-box-shadow: 0px 0px 5px #949494;
  -webkit-box-shadow: 0px 0px 5px #949494;
  box-shadow: 0px 0px 5px #949494;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#buttons ul .tip:after {
  height: 30px;
  width: 15px;
  background-color: white;
  content: '';
  position: absolute;
  left: 0px;
  top: 37px;
}
#buttons ul .second_b1 {
  width: 100%;
  position: absolute;
  background-color: #266493;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 0;
  z-index: 10;
  padding: 20px;
  margin-top: 10px;
}
#buttons ul .second_b1 li {
  margin-bottom: -20px;
  display: inline-block;
  border: none;
}
#buttons ul .second_b2 {
  width: 100%;
  position: absolute;
  background-color: #e06730;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 0;
  z-index: 10;
  padding: 20px;
  margin-top: 10px;
}
#buttons ul .second_b2 li {
  margin-bottom: -20px;
  display: inline-block;
  border: none;
}
#buttons ul .second_b3 {
  width: 100%;
  position: absolute;
  background-color: #827567;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 0;
  z-index: 10;
  padding: 20px;
  margin-top: 10px;
}
#buttons ul .second_b3 li {
  margin-bottom: -20px;
  display: inline-block;
  border: none;
}
#buttons ul .second_b4 {
  width: 100%;
  position: absolute;
  background-color: #5b6497;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 0;
  z-index: 10;
  padding: 20px;
  margin-top: 10px;
}
#buttons ul .second_b4 li {
  margin-bottom: -20px;
  display: inline-block;
  border: none;
}
#buttons ul .second_b5 {
  width: 100%;
  position: absolute;
  background-color: #9f8b54;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 0;
  z-index: 10;
  padding: 20px;
  margin-top: 10px;
}
#buttons ul .second_b5 li {
  margin-bottom: -20px;
  display: inline-block;
  border: none;
}
#buttons ul li {
  font-size: 17px;
  display: table-cell;
  height: 51px;
  width: 188px;
  border-right: 1px solid white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
}
#buttons ul li:last-child {
  border: none;
}
#buttons ul li > ul {
  display: none;
}
#buttons ul li:hover > ul {
  display: block;
}
#buttons ul li > .tip {
  display: none;
}
#buttons ul li:hover > .tip {
  display: block;
}
#buttons ul li.b1 {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNjQ2NjMxIiB5MT0iMS4wODgxMDUiIHgyPSIwLjM1MzM2OSIgeTI9Ii0wLjA4ODEwNSI+PHN0b3Agb2Zmc2V0PSI0OSUiIHN0b3AtY29sb3I9IiMzOTdkYjAiLz48c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzI2NjQ5MyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -moz-linear-gradient(104deg, #397db0 49%, #266493 49%);
  background: -webkit-linear-gradient(104deg, #397db0 49%, #266493 49%);
  background: linear-gradient(-14deg, #397db0 49%, #266493 49%);
  border-bottom: 2px solid #12476f;
  padding-left: 68px;
  height: 51px;
}
#buttons ul li.b1 .icon {
  width: 40px;
  height: 35px;
  background: url("../images/sprites.png");
  position: absolute;
  left: 20px;
}
#buttons ul li.b2 {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNjQ2NjMxIiB5MT0iMS4wODgxMDUiIHgyPSIwLjM1MzM2OSIgeTI9Ii0wLjA4ODEwNSI+PHN0b3Agb2Zmc2V0PSI0OSUiIHN0b3AtY29sb3I9IiNmNTc4NDAiLz48c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2UwNjczMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -moz-linear-gradient(104deg, #f57840 49%, #e06730 49%);
  background: -webkit-linear-gradient(104deg, #f57840 49%, #e06730 49%);
  background: linear-gradient(-14deg, #f57840 49%, #e06730 49%);
  padding-left: 70px;
  border-bottom: 2px solid #b14818;
  height: 51px;
}
#buttons ul li.b2 .icon {
  width: 40px;
  height: 35px;
  background: url("../images/sprites.png") -2px -37px transparent;
  position: absolute;
  left: 20px;
}
#buttons ul li.b3 {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNjQ2NjMxIiB5MT0iMS4wODgxMDUiIHgyPSIwLjM1MzM2OSIgeTI9Ii0wLjA4ODEwNSI+PHN0b3Agb2Zmc2V0PSI0OSUiIHN0b3AtY29sb3I9IiM5MzhhODAiLz48c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzgyNzU2NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -moz-linear-gradient(104deg, #938a80 49%, #827567 49%);
  background: -webkit-linear-gradient(104deg, #938a80 49%, #827567 49%);
  background: linear-gradient(-14deg, #938a80 49%, #827567 49%);
  padding-left: 80px;
  border-bottom: 2px solid #645545;
  height: 51px;
}
#buttons ul li.b3 .icon {
  width: 40px;
  height: 35px;
  background: url("../images/sprites.png") repeat scroll 0px -72px transparent;
  position: absolute;
  left: 35px;
}
#buttons ul li.b4 {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNjQ2NjMxIiB5MT0iMS4wODgxMDUiIHgyPSIwLjM1MzM2OSIgeTI9Ii0wLjA4ODEwNSI+PHN0b3Agb2Zmc2V0PSI0OSUiIHN0b3AtY29sb3I9IiM2Yjc1YWEiLz48c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzViNjQ5NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -moz-linear-gradient(104deg, #6b75aa 49%, #5b6497 49%);
  background: -webkit-linear-gradient(104deg, #6b75aa 49%, #5b6497 49%);
  background: linear-gradient(-14deg, #6b75aa 49%, #5b6497 49%);
  padding-left: 80px;
  border-bottom: 2px solid #414a7a;
  height: 51px;
}
#buttons ul li.b4 .icon {
  width: 40px;
  height: 29px;
  background: url("../images/sprites.png") repeat scroll 0px -108px transparent;
  position: absolute;
  left: 35px;
  top: 12px;
}
#buttons ul li.b5 {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNjQ2NjMxIiB5MT0iMS4wODgxMDUiIHgyPSIwLjM1MzM2OSIgeTI9Ii0wLjA4ODEwNSI+PHN0b3Agb2Zmc2V0PSI0OSUiIHN0b3AtY29sb3I9IiNiM2ExNmUiLz48c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzlmOGI1NCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -moz-linear-gradient(104deg, #b3a16e 49%, #9f8b54 49%);
  background: -webkit-linear-gradient(104deg, #b3a16e 49%, #9f8b54 49%);
  background: linear-gradient(-14deg, #b3a16e 49%, #9f8b54 49%);
  padding-left: 50px;
  border-bottom: 2px solid #6f613b;
  height: 51px;
}
#buttons ul li.b5 .icon {
  width: 40px;
  height: 35px;
  background: url("../images/sprites.png") repeat scroll 0px -138px transparent;
  position: absolute;
  left: 8px;
}

.slick-prev {
  top: 100px;
  background: none;
  width: 50px;
  height: 50px;
  background: url("../images/sprites.png") -48px -2px no-repeat;
}
.slick-prev:hover {
  background: url("../images/sprites.png") -48px -95px no-repeat;
}
.slick-prev:before {
  content: '';
}

.slick-next {
  top: 100px;
  right: -12px;
  background: none;
  width: 50px;
  height: 50px;
  background: url("../images/sprites.png") -48px -2px no-repeat;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.slick-next:hover {
  background: url("../images/sprites.png") -48px -95px no-repeat;
}
.slick-next:before {
  content: '';
}

/*.carusel {
 .cWrapper{
  .lenta{
   .row{
   }
  }
 }
 .arr{
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  margin:auto;
  z-index:10;
  cursor:pointer;
  width:50px;
  height: 50px;
  background: url("../images/sprites.png") -48px -2px no-repeat;

  &.next{
   right: 0;
   @include transform(rotate(180deg));
   margin-right: -15px;
  }
  &.prev{
  	margin-left: -20px;
   left: 0;
  }
 }
}*/
.carusel_thanks {
  width: 101%;
}
.carusel_thanks .cWrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.carusel_thanks .cWrapper .lenta {
  width: 2000px;
}
.carusel_thanks .cWrapper .lenta .row {
  display: inline-block;
  text-align: center;
}
.carusel_thanks .cWrapper .lenta .row .block {
  float: left;
  text-align: center;
  width: 187px;
  height: 190px;
  background-color: #ffffff;
  padding: 20px 30px 20px 30px;
  -moz-box-sizing: order-box;
  -webkit-box-sizing: order-box;
  box-sizing: order-box;
  margin-bottom: 15px;
  -moz-box-shadow: 0 0 4px #cdcdcd;
  -webkit-box-shadow: 0 0 4px #cdcdcd;
  box-shadow: 0 0 4px #cdcdcd;
  margin-right: 10px;
  margin-left: 3px;
  margin-top: 3px;
}
.carusel_thanks .arr {
  position: absolute;
  top: -30px;
  bottom: 0;
  display: block;
  margin: auto;
  z-index: 10;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: url("../images/sprites.png") -48px -2px no-repeat;
}
.carusel_thanks .arr.next {
  right: 0;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-right: -23px;
}
.carusel_thanks .arr.prev {
  margin-left: -20px;
  left: 0;
}

#big_slide {
  width: 800px;
  height: 500px;
  position: relative;
  /* display: block; */
  margin-bottom: 80px;
}

.carusel_big {
  width: 100%;
}
.carusel_big .cWrapper {
  width: 100%;
  position: relative;
}
.carusel_big .cWrapper .lenta {
  width: 2000px;
}
.carusel_big .cWrapper .lenta .row {
  display: inline-block;
  float: left;
  width: 800px;
  margin-right: 20px;
}
.carusel_big .cWrapper .lenta .row p {
  font-family: "pf_square_sans_promedium";
}
.carusel_big .slick-prev {
  top: 220px;
}
.carusel_big .slick-next {
  top: 220px;
  margin-right: -12px;
}

.carusel_clients {
  width: 100%;
  height: 120px;
}
.carusel_clients .cWrapper {
  width: 100%;
  position: relative;
  padding: 0 30px;
}
.carusel_clients .cWrapper .lenta {
  width: 2000px;
  padding-left: 5px;
}
.carusel_clients .cWrapper .lenta .row {
  display: inline-block;
  width: 150px;
}
.carusel_clients .slick-prev {
  top: 20px;
}
.carusel_clients .slick-next {
  top: 20px;
}

.carusel_int {
  width: 100%;
}
.carusel_int .cWrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.carusel_int .cWrapper .lenta {
  width: 2000px;
}
.carusel_int .cWrapper .lenta .row {
  display: inline-block;
  float: left;
  /*  text-align: center;*/
  width: 219px;
  margin-right: 20px;
}
.carusel_int .arr {
  position: absolute;
  top: -130px;
  bottom: 0;
  display: block;
  margin: auto;
  z-index: 10;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: url("../images/sprites.png") -48px -2px no-repeat;
}
.carusel_int .arr.next {
  right: 0;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-right: -15px;
}
.carusel_int .arr.prev {
  margin-left: -20px;
  left: 0;
}

#content {
  padding: 0px 40px;
}
#content h2 {
  font-size: 32px;
  font-family: "pf_square_sans_promedium";
  margin-bottom: 20px;
  margin-top: 40px;
}
#content h3 {
  font-size: 32px;
  font-family: "pf_square_sans_promedium";
  margin-top: 55px;
  padding-left: 320px;
}
#content img.about {
  float: left;
  margin-top: 30px;
}
#content p.about {
  padding-left: 320px;
  font-size: 16px;
  line-height: 21px;
  margin-top: 20px;
}
#content p.about span {
  font-family: "pf_square_sans_promedium";
}
#content p.about a {
  font-size: 14px;
  text-decoration: underline;
}
#content p.descr {
  font-family: "pf_square_sans_prolight";
  padding-top: 10px;
}
#content .block {
  font-size: 17px;
  font-family: "pf_square_sans_promedium";
  height: 290px;
  width: 220px;
  margin-right: 12px;
  display: inline-block;
}
#content .block p {
  display: block;
  margin-bottom: 20px;
}
#content .block img {
  -moz-box-shadow: 0 0 4px #cdcdcd;
  -webkit-box-shadow: 0 0 4px #cdcdcd;
  box-shadow: 0 0 4px #cdcdcd;
  margin-bottom: 20px;
}
#content .block span {
  padding-top: 15px;
  font-size: 24px;
}
#content .block span.crossed {
  text-decoration: line-through;
  font-family: "pf_square_sans_prolight";
  color: #a9a8a8;
  font-size: 17px;
  margin-right: 15px;
}

.icon_new {
  position: absolute;
  background: url(../images/icon_new.png);
  width: 77px;
  height: 77px;
}

.icon_action {
  position: absolute;
  background: url(../images/icon_action.png);
  width: 77px;
  height: 77px;
}

.icon_lider {
  position: absolute;
  background: url(../images/icon_lider.png);
  width: 77px;
  height: 77px;
}

#blog {
  height: 240px;
  background-color: #fff;
  border-top: 5px solid #d0d0d0;
  margin: 20px;
  padding-top: 40px;
}
#blog .blogrow {
  float: left;
  width: 33%;
  height: 250px;
  overflow: hidden;
  color: #727070;
  font-size: 16px;
}
#blog .blogrow h4 {
  margin-left: 75px;
  margin-top: 38px;
  font-size: 32px;
  font-family: "pf_square_sans_promedium";
  color: #000;
}
#blog .blogrow h5 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "pf_square_sans_promedium";
}
#blog .blogrow span {
  color: #7d7d7d;
  margin-left: 75px;
  font-size: 24px;
  font-family: "pf_square_sans_prolight";
}
#blog .blogrow span.date {
  font-size: 13px;
  margin-left: 10px;
}
#blog .blogrow p {
  line-height: 21px;
}
#blog .blogrow .subscribe {
  background: url(../images/subscribe.png) no-repeat;
  width: 190px;
  height: 80px;
  margin-left: 75px;
  margin-top: 20px;
  color: #397db0;
  padding-top: 13px;
  padding-left: 3px;
}
#blog .blogrow .subscribe a {
  padding: 9px 11px;
}
#blog .blogrow .subscribe a:hover {
  background-color: #f5f5f5;
  text-decoration: none;
}

#clients {
  margin: 20px;
  position: relative;
}
#clients h3 {
  color: #878787;
  font-size: 32px;
  margin-bottom: 30px;
  padding-left: 40px;
}

#ft_menu {
  border-top: 5px solid #938a80;
  padding: 25px 20px;
  font-family: helveticaneuecyrlight;
  text-align: center;
  font-size: 14px;
}
#ft_menu a {
  color: #000;
}
#ft_menu li {
  display: inline;
  margin-right: 16px;
}

#ft_ft {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #938a80;
  height: 160px;
  padding-bottom: 70px;
  padding-top: 42px;
  font-family: "helveticaneuecyrlight";
  font-size: 14px;
}
#ft_ft .ft_cell {
  width: 1022px;
  margin: 0 auto;
}
#ft_ft .ftrow {
  float: left;
  padding: 0 20px;
}
#ft_ft .ftrow p.phone {
  font-size: 30px;
  font-family: "pf_square_sans_promedium";
  margin-bottom: 10px;
}
#ft_ft .ftrow p.worktime {
  font-size: 13px;
}
#ft_ft .ftrow .social {
  width: 138px;
  height: 25px;
  overflow: hidden;
  margin-top: 10px;
}
#ft_ft img.logo {
  margin-top: 20px;
}
#ft_ft .vidok {
  font-family: "pf_square_sans_prolight";
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-left: 40px;
  background: url("../images/vidok.png") no-repeat 1px 2px;
  padding-left: 25px;
  height: 20px;
  line-height: 15px;
}
#ft_ft .vidok a {
  color: #000;
  text-decoration: underline;
}

#bread {
  height: 57px;
  width: auto;
  padding: 0px 40px;
  color: #878787;
}
#bread li {
  line-height: 57px;
  display: inline-block;
}

#leftside {
  margin-left: 40px;
  width: 140px;
  float: left;
  position: absolute;
}
#leftside li {
  line-height: 21px;
}

#faq {
  margin: 0 40px;
}

#company {
  width: 800px;
  margin-left: 180px;
}
#company h2 {
  font-size: 32px;
  margin-bottom: 20px;
  font-family: "pf_square_sans_promedium";
}
#company p {
  line-height: 21px;
}
#company p a {
  text-decoration: underline;
}
#company p a:hover {
  text-decoration: none;
}
#company .back {
  float: right;
  margin-top: -43px;
  margin-right: 5px;
}

#gallery span {
  display: block;
  margin-top: 20px;
  font-family: "pf_square_sans_promedium";
}
#gallery ul li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 40px;
}
#gallery ul li:nth-child(4) {
  margin-right: 0px;
}

#album span {
  display: block;
  margin-top: 20px;
  font-family: "pf_square_sans_promedium";
}
#album ul li {
  display: inline-block;
  margin-right: 14px;
  margin-bottom: 40px;
}
#album ul li:nth-child(4) {
  margin-right: 0px;
}
#album ul img {
  border: 2px solid transparent;
}
#album ul img:hover {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  border: 2px solid white;
}
#album .pages {
  text-align: center;
  padding: 20px;
}
#album .pages a {
  color: black;
  padding: 5px 10px;
  background-color: white;
  -moz-box-shadow: inset 0px 2px 5px #cdcdcd;
  -webkit-box-shadow: inset 0px 2px 5px #cdcdcd;
  box-shadow: inset 0px 2px 5px #cdcdcd;
  font-size: 16px;
  font-family: "pf_square_sans_promedium";
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
#album .pages a.active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}
#album .pages a.arrow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #d0d0d0;
}

#news {
  padding: 0 40px;
}
#news h3 {
  font-size: 16px;
  font-family: "pf_square_sans_promedium";
  margin-bottom: 5px;
}
#news span.date {
  color: #727070;
  font-family: "pf_square_sans_prolight";
  font-size: 13px;
  background: url(../images/clock.png) no-repeat;
  padding-left: 20px;
  margin: 7px 0 7px 0;
  display: block;
}
#news p {
  line-height: 25px;
}
#news .back {
  text-align: right;
}
#news img.newslist {
  float: left;
  margin-right: 20px;
}
#news .news_list_item {
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

#hcat {
  display: none;
}

#catalog {
  padding: 0 40px;
  overflow: hidden;
}
#catalog img {
  -moz-box-shadow: 0 0 4px #cdcdcd;
  -webkit-box-shadow: 0 0 4px #cdcdcd;
  box-shadow: 0 0 4px #cdcdcd;
  margin-bottom: 20px;
}
#catalog h1 {
  font-size: 32px;
  font-family: "pf_square_sans_promedium";
}
#catalog h4 {
  font-family: "pf_square_sans_promedium";
  font-size: 17px;
}
#catalog p {
  margin-bottom: 25px;
  margin-top: 20px;
  line-height: 20px;
}
#catalog ul {
  height: 450px;
  width: 230px;
  display: table;
  margin-top: 30px;
}
#catalog ul li {
  display: table-cell;
  padding-right: 10px;
}
#catalog ul li p {
  margin-bottom: 20px;
  margin-top: 12px;
  font-size: 16px;
  width: 230px;
}
#catalog .price {
  font-size: 24px;
  font-family: "pf_square_sans_promedium";
  margin-bottom: 30px;
  color: #252525;
}
#catalog .order {
  background-color: #397db0;
  border-top: 3px solid #27567a;
  padding: 10px 50px;
  color: white;
}
#catalog .order:hover {
  background-color: #2b638d;
  text-decoration: none;
}
#catalog .discount {
  background-color: #397db0;
  border-top: 3px solid #27567a;
  padding: 10px 20px;
  color: white;
  font-size: 14px;
}
#catalog .discount:hover {
  background-color: #2b638d;
  text-decoration: none;
}
#catalog .back {
  margin-top: 20px;
  float: right;
  font-size: 14px;
  text-decoration: underline;
}

#advant {
  padding: 0 40px;
  overflow: hidden;
  height: 160px;
}
#advant h2 {
  font-size: 32px;
  font-family: "pf_square_sans_promedium";
  margin-bottom: 20px;
  margin-top: 30px;
}
#advant ul {
  display: table;
}
#advant ul li {
  width: 240px;
  display: table-cell;
}
#advant ul li span {
  font-size: 16px;
  margin-left: 100px;
  display: block;
  margin-top: 20px;
}
#advant .adv1 {
  width: 80px;
  height: 80px;
  background: url("../images/sprites.png") -1px -177px;
  position: absolute;
}
#advant .adv2 {
  width: 82px;
  height: 80px;
  background: url("../images/sprites.png") -1px -256px;
  position: absolute;
}
#advant .adv3 {
  width: 80px;
  height: 80px;
  background: url("../images/sprites.png") -1px -336px;
  position: absolute;
}
#advant .adv4 {
  width: 81px;
  height: 80px;
  background: url("../images/sprites.png") -1px -416px;
  position: absolute;
}

#goods {
  padding: 0px 40px 40px 40px;
  overflow: hidden;
}
#goods h1 {
  font-size: 32px;
  font-family: "pf_square_sans_promedium";
}
#goods h2 {
  font-family: "pf_square_sans_promedium";
  margin-bottom: 25px;
}
#goods .goods_pic {
  float: left;
  width: 320px;
  height: 388px;
}
#goods .color_choice {
  float: left;
  height: 350px;
  width: 100px;
  position: relative;
}
#goods .color_choice ul {
  padding: 50px 20px;
}
#goods .color_choice ul li {
  margin-bottom: 40px;
}
#goods .color_choice span {
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  margin-left: 32px;
}
#goods .color_choice span.top {
  background: url("../images/color_top.png");
  top: 0px;
}
#goods .color_choice span.down {
  background: url("../images/color_down.png");
  bottom: 0px;
}
#goods .goods_descr {
  float: left;
  height: 388px;
  width: 410px;
  padding-left: 110px;
}
#goods .goods_descr p {
  line-height: 22px;
}

#basket {
  padding: 0px 40px 40px 40px;
  overflow: hidden;
}
#basket h1 {
  font-size: 32px;
  font-family: "pf_square_sans_promedium";
}
#basket h2 {
  font-size: 32px;
  font-family: "pf_square_sans_promedium";
}
#basket table {
  margin: 20px 0;
  font-family: "pf_square_sans_promedium";
}
#basket th {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  height: 40px;
}
#basket th.numb {
  width: 10%;
}
#basket th.photo {
  width: 15%;
}
#basket th.towar {
  width: 20%;
}
#basket th.color {
  width: 12%;
}
#basket th.hcount {
  width: 17%;
}
#basket th.price {
  width: 10%;
}
#basket th.hsumm {
  width: 10%;
}
#basket tr {
  border-bottom: 1px solid #e1e1e1;
}
#basket tr.dop {
  display: none;
}
#basket td {
  text-align: center;
  height: 140px;
}
#basket .data {
  color: #848484;
  font-size: 14px;
  display: block;
}
#basket .count {
  position: absolute;
  width: 150px;
  margin-left: 10px;
  margin-top: -10px;
}
#basket .plus {
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  background: url("../images/color_top.png");
  top: -5px;
  left: 30px;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#basket .minus {
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  background: url("../images/color_top.png");
  top: -5px;
  left: 90px;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
#basket .colorpicker {
  width: 80px;
  display: inline-block;
}
#basket input[type="checkbox"] {
  display: none;
}
#basket input.check_white[type="checkbox"]:checked + label::before {
  background-color: white;
}
#basket input.check_white[type="checkbox"] + label::before {
  border: 6px solid #e5e4e6;
  -moz-box-shadow: 0px -1px 1px #bababa;
  -webkit-box-shadow: 0px -1px 1px #bababa;
  box-shadow: 0px -1px 1px #bababa;
  display: inline-block;
  width: 6px;
  height: 6px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  background-color: #e5e4e6;
  content: "";
}
#basket input[type="radio"] {
  display: none;
}
#basket input.radio_red[type="radio"]:checked + label::before {
  background-color: white;
}
#basket input.radio_red[type="radio"] + label::before {
  border: 6px solid red;
  -moz-box-shadow: 0px -1px 1px #bababa;
  -webkit-box-shadow: 0px -1px 1px #bababa;
  box-shadow: 0px -1px 1px #bababa;
  display: inline-block;
  width: 6px;
  height: 6px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  background-color: red;
  content: "";
}
#basket input.radio_orange[type="radio"]:checked + label::before {
  background-color: white;
}
#basket input.radio_orange[type="radio"] + label::before {
  border: 6px solid #e26e3b;
  -moz-box-shadow: 0px -1px 1px #bababa;
  -webkit-box-shadow: 0px -1px 1px #bababa;
  box-shadow: 0px -1px 1px #bababa;
  display: inline-block;
  width: 6px;
  height: 6px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  background-color: #e26e3b;
  content: "";
}
#basket input.radio_yellow[type="radio"] + label::before {
  border: 6px solid #f5e800;
  -moz-box-shadow: 0px -1px 1px #bababa;
  -webkit-box-shadow: 0px -1px 1px #bababa;
  box-shadow: 0px -1px 1px #bababa;
  display: inline-block;
  width: 6px;
  height: 6px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  background-color: #f5e800;
  content: "";
}
#basket input.radio_yellow[type="radio"]:checked + label::before {
  background-color: white;
}
#basket input.radio_green[type="radio"] + label::before {
  border: 6px solid #009764;
  -moz-box-shadow: 0px -1px 1px #bababa;
  -webkit-box-shadow: 0px -1px 1px #bababa;
  box-shadow: 0px -1px 1px #bababa;
  display: inline-block;
  width: 6px;
  height: 6px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  background-color: #009764;
  content: "";
}
#basket input.radio_green[type="radio"]:checked + label::before {
  background-color: white;
}
#basket input.radio_blue[type="radio"] + label::before {
  border: 6px solid #0069a7;
  -moz-box-shadow: 0px -1px 1px #bababa;
  -webkit-box-shadow: 0px -1px 1px #bababa;
  box-shadow: 0px -1px 1px #bababa;
  display: inline-block;
  width: 6px;
  height: 6px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  background-color: #0069a7;
  content: "";
}
#basket input.radio_blue[type="radio"]:checked + label::before {
  background-color: white;
}
#basket input.radio_white[type="radio"] + label::before {
  border: 5px solid #e5e4e6;
  -moz-box-shadow: 0px -1px 1px #bababa;
  -webkit-box-shadow: 0px -1px 1px #bababa;
  box-shadow: 0px -1px 1px #bababa;
  display: inline-block;
  width: 7px;
  height: 7px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  background-color: #e5e4e6;
  content: "";
}
#basket input.radio_white[type="radio"]:checked + label::before {
  background-color: white;
}
#basket .goods_title {
  color: #000;
}
#basket .goods_size {
  color: #7d7d7d;
}
#basket .goods_weight {
  color: #7d7d7d;
}
#basket .summ {
  float: right;
  font-weight: bolder;
}
#basket .order {
  background-color: #397db0;
  border-top: 3px solid #27567a;
  padding: 10px 50px;
  color: #fff;
  float: right;
  margin-top: 20px;
}
#basket .order:hover {
  background-color: #2b638d;
  text-decoration: none;
}
#basket .bg_orange {
  background-color: #f57840;
  border-color: #a9532c;
  padding: 10px 25px;
  margin-right: 20px;
}
#basket .bg_orange:hover {
  background-color: #E96023;
  text-decoration: none;
}
#basket .print {
  font-size: 14px;
  text-decoration: underline;
}

#profbg {
  height: 640px;
  overflow: hidden;
  background: transparent url("../images/bgprofile.jpg") left top no-repeat;
}
#profbg .profile {
  position: relative;
}
#profbg .profile h1 {
  margin-left: 180px;
}
#profbg .loginform {
  width: 260px;
  height: 470px;
  background-color: #ffffff;
  margin: 0 auto;
  border: 1px solid #bbbbbb;
}
#profbg .loginform .lost {
  font-size: 12px;
  position: relative;
  display: table;
  margin: 0 auto;
  margin-top: 16px;
  font-family: "helveticaneuecyrlight";
}
#profbg .loginform .social {
  font-size: 12px;
  position: relative;
  display: table;
  margin: 0 auto;
  margin-top: 20px;
  font-family: "helveticaneuecyrlight";
}
#profbg .loginform div.social {
  position: relative;
  display: table;
  margin: 0 auto;
  margin-top: 10px;
}
#profbg .loginform .ava {
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 50%;
  border: 1px solid #c3c3c3;
  width: 125px;
  height: 125px;
  display: block;
}
#profbg .loginform .lg {
  border: 1px solid #c3c3c3;
  width: 190px;
  height: 40px;
  color: #c3c3c3;
  font-size: 14px;
  color: #000000;
  margin: 20px auto;
  padding-left: 20px;
  display: inherit;
}
#profbg .loginform .ps {
  border: 1px solid #c3c3c3;
  width: 190px;
  height: 40px;
  color: #c3c3c3;
  font-size: 14px;
  color: #000000;
  margin: 20px auto;
  padding-left: 20px;
  display: inherit;
}
#profbg .loginform .go {
  display: block;
  width: 212px;
  margin: 0 auto;
  background-color: #397db0;
  border-top: 3px solid #27567a;
  padding: 10px 0px;
  color: #fff;
  text-align: center;
}
#profbg .loginform .go:hover {
  background-color: #2b638d;
  text-decoration: none;
}
#profbg .loginform input[type="checkbox"] {
  display: none;
}
#profbg .loginform input.go_save[type="checkbox"] + label {
  cursor: pointer;
  display: block;
  margin-left: 110px;
  font-family: "helveticaneuecyrlight";
  font-size: 12px;
}
#profbg .loginform input.go_save[type="checkbox"]:checked + label::before {
  background-color: white;
}
#profbg .loginform input.go_save[type="checkbox"] + label::before {
  border: 6px solid #e5e4e6;
  -moz-box-shadow: 0px -1px 1px #bababa;
  -webkit-box-shadow: 0px -1px 1px #bababa;
  box-shadow: 0px -1px 1px #bababa;
  width: 6px;
  height: 6px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  background-color: #e5e4e6;
  content: "";
  top: 15px;
  left: -24px;
  display: block;
  position: relative;
}

#order {
  padding: 0 40px;
  overflow: hidden;
}
#order h4 {
  font-size: 16px;
  font-family: "pf_square_sans_promedium";
}
#order p {
  max-width: 600px;
  padding-left: 40px;
  margin-bottom: 20px;
}
#order .status {
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  height: 60px;
  padding: 20px;
}
#order .dostavka {
  padding: 20px;
}
#order .in_col {
  width: 100%;
  padding-left: 15px;
}
#order #in_col_hidden {
  display: none;
  padding-left: 15px;
  height: 640px;
}
#order .in_cel {
  width: 330px;
  float: left;
  margin-right: 50px;
}
#order span {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "pf_square_sans_promedium";
  font-size: 14px;
}
#order span.o {
  font-family: "pf_square_sans_prolight";
  color: #737373;
  margin-top: 50px;
}
#order span.o1 {
  font-family: "pf_square_sans_prolight";
  color: #737373;
  margin-top: 0px;
  display: inline-block;
  width: 182px;
  position: relative;
  left: 10px;
  line-height: 20px;
}
#order input[type="text"] {
  width: inherit;
  height: 33px;
  border: 1px solid #e5e5e5;
  padding-left: 10px;
}
#order input.stat[type="radio"] + label {
  cursor: pointer;
  display: inline-block;
  margin-left: 40px;
  margin-right: 20px;
  font-family: "pf_square_sans_prolight";
  font-size: 16px;
}
#order input[type="radio"] {
  display: none;
}
#order input[type="radio"] + label {
  cursor: pointer;
  display: block;
  margin-left: 38px;
  font-family: "pf_square_sans_promedium";
  font-size: 16px;
  margin-bottom: 20px;
}
#order input[type="radio"]:checked + label::before {
  background-color: white;
}
#order input[type="radio"] + label::before {
  border: 6px solid #e5e4e6;
  -moz-box-shadow: 0px -1px 1px #bababa;
  -webkit-box-shadow: 0px -1px 1px #bababa;
  box-shadow: 0px -1px 1px #bababa;
  width: 6px;
  height: 6px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  background-color: #e5e4e6;
  content: "";
  top: 17px;
  left: -30px;
  display: block;
  position: relative;
}
#order .inputfile {
  width: 144px;
  height: 22px;
  overflow: hidden;
  margin-top: 14px;
  display: inline-block;
}
#order .inputfile input {
  position: relative;
  top: -24px;
  opacity: 0;
  cursor: pointer;
  left: -110px;
}
#order .inputfile .but {
  background-color: #cdcdcd;
  color: white;
  font-size: 12px;
  padding: 5px 30px;
}

#hr {
  overflow: hidden;
}
#hr p {
  line-height: 20px;
  margin: 10px 0;
}
#hr .hr_info {
  float: right;
  height: 400px;
  text-align: right;
  position: relative;
  top: -50px;
}
#hr .hr_info p {
  margin: 20px 0;
}
#hr .hr_info span {
  display: block;
  font-family: "pf_square_sans_promedium";
}
#hr form {
  max-width: 550px;
  padding: 20px;
}
#hr form input {
  width: 330px;
  height: 35px;
  border: 1px solid #e5e5e5;
  padding-left: 10px;
  font-family: "pf_square_sans_prolight";
  font-size: 15px;
}
#hr form button {
  background-color: #397db0;
  height: 37px;
  border: none;
  border-top: 3px solid #2b5e84;
  color: #ffffff;
  font-family: "pf_square_sans_prolight";
  font-size: 16px;
  width: 160px;
  position: relative;
  height: 38px;
  top: 2px;
  margin-left: 20px;
  cursor: pointer;
}
#hr form button:hover {
  background-color: #2b638d;
  text-decoration: none;
}
#hr .vacancy_title {
  font-family: "pf_square_sans_promedium";
}

#client {
  min-height: 450px;
}
#client strong {
  font-family: "pf_square_sans_promedium";
}
#client ul.cl {
  height: 100%;
  margin: 40px 0;
  overflow: hidden;
}
#client ul.cl li {
  text-align: center;
  width: 160px;
  height: 140px;
  display: block;
  float: left;
  margin: 0 50px 20px 0;
}
#client ul.cl li:nth-child(4n) {
  margin-right: 0px;
}
#client ul.cl li img {
  width: 130px;
  height: 60px;
}
#client ul.cl li span {
  font-size: 14px;
}
#client ul.employes {
  margin: 20px 0;
}
#client ul.employes li {
  width: 250px;
  display: inline-block;
  margin-bottom: 25px;
  margin-right: 14px;
  font-size: 14px;
}
#client ul.employes li img {
  float: left;
}
#client ul.employes li span {
  line-height: 20px;
  display: block;
  margin-left: 100px;
}
#client ul.employes li span.post {
  color: #868686;
  font-size: 12px;
}
#client ul.employes li span.link {
  background: url("../images/icon_comment.png") no-repeat;
  font-size: 12px;
  height: 19px;
  text-decoration: underline;
  padding-left: 25px;
}
#client ul.employes li span.link a {
  color: #397db0;
  position: relative;
  top: 6px;
}
#client ul.employes li span.link a:hover {
  text-decoration: none;
}
#client .popup {
  z-index: 100;
  position: absolute;
  width: 260px;
  height: 300px;
  background: #ffffff;
  border: 1px solid #d2d2d3;
  left: 45%;
  top: 33%;
}
#client .popup strong {
  margin: 28px 0 20px 24px;
  display: block;
}
#client .popup input {
  width: 210px;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding-left: 10px;
  margin: 0 25px 20px 25px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "pf_square_sans_prolight";
  font-size: 15px;
}
#client .popup button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #397db0;
  height: 37px;
  border: none;
  border-top: 3px solid #2b5e84;
  color: #ffffff;
  font-family: "pf_square_sans_prolight";
  font-size: 16px;
  width: 210px;
  position: relative;
  height: 38px;
  top: 2px;
  margin-left: 24px;
  cursor: pointer;
}
#client .popup button:hover {
  background-color: #2b638d;
  text-decoration: none;
}
#client .reply {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 20px;
  margin-left: 25px;
  position: relative;
}
#client .reply:before {
  display: block;
  content: '';
  background-color: #ffffff;
  width: 13px;
  height: 13px;
  position: absolute;
  left: 100px;
  top: -6px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#client .reply span {
  color: #999999;
  background: url("../images/clock.png") no-repeat;
  padding-left: 20px;
  font-size: 12px;
  height: 14px;
  display: block;
  margin-top: 10px;
}
#client .comment {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 20px;
}
#client .comment strong {
  margin-bottom: 5px;
  display: block;
}
#client .comment span {
  color: #999999;
  background: url("../images/clock.png") no-repeat;
  padding-left: 20px;
  font-size: 12px;
  height: 14px;
  display: block;
  margin-top: 10px;
}
#client .add {
  display: block;
  height: 60px;
  position: relative;
}
#client .add button {
  background-color: #397db0;
  height: 37px;
  border: none;
  border-bottom: 3px solid #2b5e84;
  color: #ffffff;
  font-family: "pf_square_sans_prolight";
  font-size: 16px;
  width: 160px;
  position: relative;
  height: 38px;
  top: 2px;
  cursor: pointer;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  float: right;
}
#client .add button:hover {
  background-color: #2b638d;
  text-decoration: none;
}
#client .add .addform {
  border: 1px solid #dddddd;
  padding: 22px;
  width: 400px;
  height: 283px;
  box-sizing: border-box;
  background-color: #ffffff;
  position: absolute;
  right: -23px;
  top: -228px;
}
#client .add .addform strong {
  display: block;
  margin-bottom: 10px;
}
#client .add .addform textarea {
  width: 353px;
  height: 80px;
  border: 1px solid #e5e5e5;
  padding-left: 10px;
  margin-bottom: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "pf_square_sans_prolight";
  font-size: 15px;
  resize: none;
}
#client .add .addform input {
  width: 353px;
  height: 35px;
  border: 1px solid #e5e5e5;
  padding-left: 10px;
  margin-bottom: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "pf_square_sans_prolight";
  font-size: 15px;
}
#client .add .addform span {
  width: 150px;
  float: left;
  font-size: 14px;
  margin-top: 8px;
}
#client .add .addbtn {
  text-align: center;
  background-color: #397db0;
  border-bottom: 3px solid #27567a;
  width: 160px;
  height: 38px;
  padding: 10px 0px;
  color: #fff;
  float: right;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#client .add .addbtn:hover {
  background-color: #2b638d;
  text-decoration: none;
}
#client .thanks {
  position: relative;
}

#blog_list {
  padding: 0 40px 0 40px;
}
#blog_list .blog_list_item {
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
#blog_list h2 {
  font-size: 16px;
  font-family: "pf_square_sans_promedium";
  text-decoration: underline;
  margin-bottom: 8px;
  margin-top: 20px;
}
#blog_list .blog_ava {
  display: inline-block;
}
#blog_list .blog_autor {
  display: inline-block;
  position: relative;
  top: -7px;
  left: 10px;
  color: #3b4245;
  font-family: "pf_square_sans_promedium";
}
#blog_list p {
  font-size: 15px;
  line-height: 20px;
  color: #3b4245;
}
#blog_list span.date {
  color: #727070;
  font-family: "pf_square_sans_prolight";
  font-size: 13px;
  background: url(../images/clock.png) no-repeat;
  padding-left: 20px;
  margin: 7px 0 7px 0;
  display: block;
}
#blog_list .comments {
  float: right;
  color: #727070;
  font-family: "pf_square_sans_prolight";
  font-size: 13px;
  background: url(../images/icon_comment_blog.png) no-repeat;
  padding-left: 20px;
  margin: -20px 80px 0 0;
  display: block;
}
#blog_list .views {
  float: right;
  color: #727070;
  font-family: "pf_square_sans_prolight";
  font-size: 13px;
  background: url(../images/icon_views.png) no-repeat;
  padding-left: 20px;
  margin: -20px 0 0 0;
  display: block;
}

#contacts {
  margin: 0 40px;
}
#contacts .map {
  margin-left: 340px;
}
#contacts .address {
  padding-left: 340px;
  padding-top: 20px;
  line-height: 22px;
}
#contacts .address span {
  font-size: 12px;
  color: #397db0;
}
#contacts .contact_form {
  width: 325px;
  height: 325px;
  float: left;
  background-color: #ffffff;
  padding: 20px 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#contacts .contact_form span {
  font-size: 12px;
  color: #7f7f7f;
}
#contacts .contact_form strong {
  font-family: "pf_square_sans_promedium";
  margin-bottom: 20px;
  display: block;
  color: #838383;
}
#contacts .contact_form input {
  font-family: "pf_square_sans_prolight";
  width: 100%;
  height: 28px;
  padding: 0 0 0 10px;
  margin-bottom: 7px;
  border: 1px solid #dddddd;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#contacts .contact_form textarea {
  font-family: "pf_square_sans_prolight";
  width: 100%;
  height: 65px;
  padding: 5px 0 0 9px;
  border: 1px solid #dddddd;
  resize: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 15px;
}
#contacts .contact_form button {
  background-color: #397db0;
  height: 26px;
  border: none;
  border-top: 3px solid #2b5e84;
  color: #ffffff;
  font-family: "pf_square_sans_prolight";
  font-size: 13px;
  width: 132px;
  cursor: pointer;
  float: right;
}
#contacts .contact_form button:hover {
  background-color: #2b638d;
  text-decoration: none;
}

#notfound {
  background: url("../images/bg_404.jpg") no-repeat;
  margin: 0 auto;
  width: 1010px;
  height: 800px;
  text-align: center;
}
#notfound h1 {
  color: #a4a4a4;
  font-weight: bolder;
  padding-top: 70px;
}
#notfound p {
  max-width: 300px;
  margin: 0 auto;
  line-height: 20px;
}
#notfound a {
  color: #000000;
  text-decoration: underline;
}

.page404 {
  background-color: #ffffff;
}

@media screen and (max-width: 1021px) {
  header {
    background-color: #f57840;
    height: 60px;
  }

  .logo768 {
    display: block;
  }
  .logo768 span {
    font-size: 12px;
  }

  .tel, .login, #menu, .logo {
    display: none;
  }

  .btn_mobile_menu {
    display: block;
  }

  #slider {
    font-size: 26px;
  }
  #slider .slider_text {
    padding-left: 30px;
  }

  .button_details {
    padding: 12px 10px;
    font-size: 16px;
    border: none;
  }

  #buttons a {
    text-shadow: none;
  }
  #buttons ul .second_b1 {
    padding: 10px;
  }
  #buttons ul .second_b1 li {
    font-size: 14px;
  }
  #buttons ul .second_b2 {
    padding: 10px;
  }
  #buttons ul .second_b2 li {
    font-size: 14px;
  }
  #buttons ul .second_b3 {
    padding: 10px;
  }
  #buttons ul .second_b3 li {
    font-size: 14px;
  }
  #buttons ul .second_b4 {
    padding: 10px;
  }
  #buttons ul .second_b4 li {
    font-size: 14px;
  }
  #buttons ul .second_b5 {
    padding: 10px;
  }
  #buttons ul .second_b5 li {
    font-size: 14px;
  }
  #buttons ul li {
    width: 140px;
  }
  #buttons ul li .icon {
    display: none;
  }
  #buttons ul li.b1 {
    background: none;
    background-color: #397db0;
    border-bottom: none;
    padding-left: 30px;
  }
  #buttons ul li.b2 {
    background: none;
    background-color: #f57840;
    padding-left: 30px;
    border: none;
  }
  #buttons ul li.b3 {
    background: none;
    background-color: #938a80;
    padding-left: 40px;
    border-bottom: none;
  }
  #buttons ul li.b4 {
    background: none;
    background-color: #6b75aa;
    padding-left: 40px;
    border-bottom: none;
  }
  #buttons ul li.b5 {
    background: none;
    background-color: #b3a16e;
    padding-left: 5px;
    border-bottom: none;
  }

  .content {
    padding: 0 129px;
  }

  /*.carusel .cWrapper .lenta .row{margin-right: 5%;}*/
}
